
:root{
    --main-color: #ffb11f;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    max-width: 1200px;
    margin: 12px auto;
    width: 100%;
}


